body {
 font-family: 'Hachi Maru Pop'
 , cursive;
 text-align: center;
}

h1 {
    font-family: 'Hachi Maru Pop'
 , cursive;
}

h2   {
    padding-top: 0px;
    font-family: 'Hachi Maru Pop'
 , cursive;
}
p {
    font-family: 'Hachi Maru Pop'
 , cursive;
}

canvas {
    display: none;
    margin: 0 auto;
}
.div-2 {
    display: none;
    margin: 0 auto;
}